*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-primary;
    background-color: $color-secondary;
    color: $color-dark;
    line-height: 1.6;
}

.footer {
    text-align: center;
}