$color-primary: #c0566e;
$color-secondary: #fde2e4;
$color-accent: #0c0b0b;
$color-dark: #4f3e37;
$color-light: #ffffff;

$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;